

img.back {
    width: 50px;
    float: right;
  }

    h1{
        font-family: cursive;
        
    }
    ul{
        background-color: beige;
        border: aqua 10px inset;
        border-width:  10px;
        box-shadow: black;
        border-radius: 7%;
      }

   

      table,th,td {
        border: 1px solid black;
      }

      body{
        background-image: url(images/background\ 2.jpg);
        background-size: cover; 
      }

      

      img.aboutme{
        width: 50px;
        height: 50px;
        float: right;
          
      }
      img.grades {
        width: 250px;
        border-radius: 10px;

        margin-right: 10px;

      }
      img.html {
        width: 250px;
        border-radius: 50px;

        margin-right: 10px;

      }
      img.contact {
        width: 50px;
        height: 50px;
        float: right;
        

        margin-right: 25px;
      }
      h1 {
        font-family: cursive;
        
      }
      h2 {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
      p.click-me {
        font-family: cursive;
      }
      em {
        font-size: large;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
      
      } 
    img.gmail {
        width: 50px;
    }

    form{
        background-color: beige;
        border: aqua 10px inset;
        border-width:  10px;
        box-shadow: black;
        border-radius: 5%;
      }

      img.github {
        float: right;
        width: 100px;
        height: 50px;


        margin-right: 50px;
      }

      