

img.back {
    width: 50px;
    float: right;
  }

    h1{
        font-family: cursive;
        display: table;
        cursor: pointer;
        transition: 0.6s;
        
    }

    h1:before,
    h1:after {
      content:attr(data-text);
      transition:.6s;
    }

    h1:before {
      
      
      position: absolute;
     
      
      
    }

    
    h1:hover {
      transform:translate(-10px,-10px);
      color: slategray;
    }  


    img:before,
    img:after {
      content:attr(data-text);
      transition:1s;
    }

    img:before {
      
      
      position: absolute;
     
      
      
    }
    img:hover {
      transform:translate(-10px,-10px);
      transform: scale(1.2);

      
      
    }  

   
    
    








    ul{
        background-color: beige;
        border: aqua 10px inset;
        border-width:  10px;
        box-shadow: black;
        border-radius: 7%;
      }

   

      table,th,td {
        border: 5px solid black;
      }

      body{
        background-image: url(images/background.jpg);
        background-size: cover; 
      }

      

      img.aboutme{
        width: 50px;
        height: 50px;
        float: right;
          
      }
      img.grades {
        width: 250px;
        border-radius: 10px;

        margin-right: 10px;

      }
      img.html {
        width: 250px;
        border-radius: 50px;

        margin-right: 10px;

      }
      img.contact {
        width: 50px;
        height: 50px;
        float: right;
        

        margin-right: 25px;
      }
      h1 {
        font-family: cursive;
        
      }
      h2 {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
          
      }
      p.click-me {
        font-family: cursive;
      }
      em {
        font-size: large;
        font-family: cursive ;
      
      } 
    img.gmail {
        width: 50px;
        float: right;
        
    }

    form{
        background-color: beige;
        border: lime 10px inset;
        border-width:  10px;
        box-shadow: black;
        border-radius: 5%;
      }

      img.github {
        float: right;
        width: 100px;
        height: 50px;


        
      }

      img.youtube {
        width: 50px;
        margin-right: 20px;
        
        float: right;
        
    }

    

    footer{

      background-color: beige;
        border: pink 10px inset;
        border-width:  10px;
        box-shadow: black;
      
      
    }



    img.games {
      width: 50px;
      margin-right: 20px;
      
      float: right;
      
  }


  img.download{
    width: 50px;
    height: 50px;
   
    
    float: center;
    
}


img.scared {
  width: ;
  
  
}



       

      